global
    daemon

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http_front
    bind *:80

    acl is_clientes path_beg /api/clientes
    acl is_servicios path_beg /api/servicios
    acl is_pedidos path_beg /api/pedidos
    acl is_pagos path_beg /api/pagos

    use_backend clientes_backend if is_clientes
    use_backend servicios_backend if is_servicios
    use_backend pedidos_backend if is_pedidos
    use_backend pagos_backend if is_pagos
    default_backend frontend_backend

backend frontend_backend
    balance roundrobin
    server web1 frontend:80

backend clientes_backend
    balance roundrobin
    server c1 clientes:3001
    server c2 clientes:3001

backend servicios_backend
    balance roundrobin
    server s1 servicios:3000
    server s2 servicios:3000

backend pedidos_backend
    balance roundrobin
    server p1 pedidos:3002
    server p2 pedidos:3002

backend pagos_backend
    balance roundrobin
    server pa1 pagos:3003
    server pa2 pagos:3003

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
    stats auth admin:admin
    stats show-legends
